* {
  box-sizing: border-box;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
  min-width: 360px;
}

span {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("/images/cake_background.jpg");
  background-position: inherit;
  background-repeat: repeat;
  background-size: 100%;
}

.body-content {
  width: 100%;
}

.end-left {
  @media only screen and (max-width: 480px) {
    margin-left: -55px;
  }
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    margin-left: -75px;
  }
  @media only screen and (min-width: 961px) and (max-width: 1851px) {
    margin-left: -150px;
  }
  @media only screen and (min-width: 1851px) {
    margin-left: -235px;
  }
}

.end-right {
  @media only screen and (max-width: 480px) {
    margin-right: -20.5px;
    margin-left: -75px;
  }
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    margin-right: -80.5px;
    margin-left: -75px;
  }
  @media only screen and (min-width: 961px) and (max-width: 1851px) {
    margin-right: -80.5px;
  }
  @media only screen and (min-width: 1851px) {
    margin-right: -117.5px;
  }
}

.outline {
  position: absolute;
  top: 20px;
}

.outline {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Happy Monkey", cursive;

  @media only screen and (max-width: 480px) {
    font-size: 40px;
  }
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    font-size: 50px;
  }
  @media only screen and (min-width: 961px) and (max-width: 1851px) {
    font-size: 80px;
  }
  @media only screen and (min-width: 1851px) {
    font-size: 120px;
  }
}

.orbs {
  font-family: "Happy Monkey", sans-serif;
  display: block;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;

  @media only screen and (max-width: 480px) {
    font-size: 80px;
  }
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    font-size: 100px;
  }
  @media only screen and (min-width: 961px) and (max-width: 1851px) {
    font-size: 115px;
  }
  @media only screen and (min-width: 1851px) {
    font-size: 136px;
  }

  span {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    text-shadow: 0 0 20px red, 1px 1px 20px red, 2px 2px 20px red,
      -1px -1px 20px red, -2px -2px 20px red;
    position: absolute;
    left: 50%;
    margin: 50px;

    @media only screen and (max-width: 480px) {
      &:first-child {
        margin-left: -140px;
      }
      &:not(:first-child) {
        margin-left: -35px;
      }
    }
    @media only screen and (min-width: 481px) and (max-width: 960px) {
      &:first-child {
        margin-left: -160px;
      }
      &:not(:first-child) {
        margin-left: -35px;
      }
    }
    @media only screen and (min-width: 961px) and (max-width: 1851px) {
      &:first-child {
        margin-left: -140px;
      }
      &:not(:first-child) {
        margin-left: -35px;
      }
    }
    @media only screen and (min-width: 1851px) {
      &:first-child {
        margin-left: -210px;
      }
      &:not(:first-child) {
        margin-left: -35px;
      }
    }
  }
}

.card-layout {
  text-align: center;
  opacity: 0;
}

.w3-card {
  background-color: white;
  display: inline-block;
  overflow: hidden;
  margin: 15px;

  @media only screen and (max-width: 480px) {
    width: 80%;
  }
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    width: 60%;
  }
  @media only screen and (min-width: 961px) and (max-width: 1851px) {
    width: 40%;
  }
  @media only screen and (min-width: 1851px) {
    width: 25%;
  }
}

.w3-container > p {
  font-family: "Concert One", cursive;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
}

.text-carousel {
  opacity: 0;
  color: black;
  text-align: center;
}

.text-carousel > h1 {
  font-family: "Concert One", sans-serif;
  font-size: 80px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.type-bar {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.More {
  margin: 20px;
  padding: 50px;
  text-align: center;
}

.More > a > button {
  width: 20%;
  padding: 20px;
}

#sapna-dii {
  background-image: url("/images/Sapna-Dii-Background.jpg");
  background-size: contain;
  color: white;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
